html {
  font-family: sans-serif;
  text-color: white;
  font-size: 1.2em;
  font-weight: bold;
  writing-mode: horizontal-tb;
  text-align: center;
  
}

/* Your CSS below here */

.box {
  width: 200px;
  height: 200px;
  margin: 5px;
  padding: 5px;
  border: 1px solid red rgb(255,0,0);
  background: linear-gradient(to top left, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 30%, rgba(0,0,0,0));
  background-color: red;
  border-radius: .5em;
  
}

