html {
  font-family: sans-serif;

  
}

/* Your CSS below here */

.box {
  width: 260px;
  height: 200px;
  margin: 10%;
  padding: 10%;
  border: 1px solid red rgb(255,0,0);
  background: linear-gradient(to top left, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 30%, rgba(0,0,0,0));
  background-color: red;
  border-radius: .5em;
  box-shadow: 10px 10px 10px lightred;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  
}
